{% extends 'base.html' %}
{% load static %}

{% block title %}О Бренде{% endblock title %}
{% block page_content %}


<div class="col-md-8 offset-md-2">
    <center><h1>О Бренде</h1></center>
    <br>
    <h4 align="center"><img src="{% static '/images/img_2.jpg' %}" alt="" width="1000" height="340" align="center"><br><br>
        Идея бренда - в максимальной продуманности. Без лишних компонентов, которые либо раздражают кожу,
        либо занимают место в составе. Мне близка концепция эффективного бьюти-минимализма, и я сама знаю,
        как легко довести кожу до повышенной чувствительности гиперуходом. Состав каждого продукта для своего
        бренда я составляла сама. Шлифовал состав технолог, с которым мы сотрудничаем на условиях контрактного
        производства.
        Вся косметика сертифицирована.</h4>
         <table>
            <tr><th>• Масла подобраны по соотношению жирных кислот, а не по моде, как в большинстве косметики</th><th>• Испоьзован только мягкий эмульгатор, чтобы крем был максимально родственным к коже</th></tr>
            <br>
            <tr><th>• Благодаря закрытой упаковке с дозатором, во всех продуктах - минимальное количество консерванта</th><th>• В продуктах нет отдушек, красителей, соэмульгаторов и прочего балласта</th></tr>
         </table>
</div>
{% endblock %}
