{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block page_content %}


<div class="col-md-8 offset-md-2">
    <center><h1>Официальный сайт интернет-магазина</h1></center>
    <br>
    <h4 align="center"><img src="{% static '/images/img_1.jpg' %}" alt="" width="230" height="380" align="left"><br><br><br>
        Beauty IMAGE - бренд в концепции косметики направленного действия с
        минимальным количеством балласта. Без отдушек, красителей, соэмульгаторов, с акцентом на базу крема.
        <br><br><br>
        <p>Профессиональная косметика улучшает состояние кожи после нескольких применений.
            Она отличается активным и насыщенным составом, поэтому работает в комплексе с другими средствами.
            Такие продукты сохраняют кожу здоровой и решают эстетические проблемы.</p>
    </h4><br><br>
</div>
{% endblock %}
