<!DOCTYPE html>

{% load static %}
<html lang="ru">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <title>Beauty IMAGE- {% block title %}{% endblock title%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'images/icons.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/icon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    {% block head_plus %}{% endblock head_plus %}

</head>


<body>
    <!--<Start top nav>-->
    <nav class="navbar navbar-expand-lg bg-secondary navbar-black d-none d-lg-block">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:beauty_image@gmail.com">beauty_image@gmail.com</a>
                    <i class="fa fa-phone mx-4"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+375183459812">+375 (18) 345 98
                        12</a>
                </div>
            </div>
        </div>
    </nav>
    <!--<End top nav>-->

    <!--<Header>-->
    <nav class="navbar navbar-expand-lg navbar-light shadow" id="templatemo_nav">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-dark logo h1 align-self-center" href="{% url 'index' %}">
                Beauty IMAGE
            </a>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between">
                <div class="col-md-10">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_index' %}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">О Бренде</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_index' %}">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'delivery' %}">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-20">
                    <div class="cart">
                        <a href="{% url 'cart_detail' %}">
                            <img src="{% static 'images/cart1.png' %}" alt="" width="25%"></a>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="user">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}">
                            <img src="{% static 'images/user1.png' %}" alt="" width="50%"></a>
                        {% else %}
                        <a href="{% url 'login' %}">
                            <img src="{% static 'images/user1.png' %}" alt="" width="50%"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--<End header>-->

    <!--<Content>-->
    {% block page_content %}
    {% endblock %}
    <!--<end content>-->

    <!--<Start footer>-->
    <footer class="bg-secondary" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-dark border-bottom pb-3 border-light logo">Beauty IMAGE</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            г.Минск, пр-т Пушкина, д 6<br>
                            ст.м. Пушкинская
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-dark text-decoration-none" href="tel:+375183459812">+375 (18) 345 98 12</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-dark text-decoration-none" href="mailto:beauty_image@gmail.com">beauty_image@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-dark border-bottom pb-3 border-light">Категории</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{{ product.category.url }}">- Для тела</a></li>
                        <li><a class="text-decoration-none" href="{{ product.category.url }}">- Для лица</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-dark border-bottom pb-3 border-light">Дополнительно</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'index' %}">- Главная</a></li>
                        <li><a class="text-decoration-none" href="{% url 'about' %}">- О Бренде</a></li>
                        <li><a class="text-decoration-none" href="{% url 'product_index' %}">- Каталог</a></li>
                        <li><a class="text-decoration-none" href="{% url 'blog_index' %}">- Блог</a></li>
                        <li><a class="text-decoration-none" href="{% url 'delivery' %}">- Доставка</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-dark py-3">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-12">
                            <p class="text-left text-light">
                                Copyright &copy; 2023
                                | Designed by <a rel="sponsored" href="mailto:beauty_image@gmail.com">BImage</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
    </footer>
    {% block script_plus %}
    {% endblock script_plus %}
</body>
</html>
