{% extends "base.html" %}
{% load static %}

{% block title %}Вход{% endblock title %}

{% block head_plus %}{% endblock head_plus %}

{% block page_content %}
<br><br>
<div class="container text-center">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col-md-5 m-auto text-center">
                    <h1 class="h1">Вход</h1>
                    <p>
                        Пожалуйста, авторизуйтесь, чтобы войти в кабинет пользователя. <br>Или <a rel="sponsored" class="text-dark" href="{% url 'register' %}">зарегистрируйтесь</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-1g-4 col-md-4 offset-md-5">
                    <h2 class="sub-heading-medium m-15px-b">{{ attention }}</h2>
                </div>
            </div>
            {% for error in login_form.non_field_errors %}
            <div class="row">
                <div class="col-12 col-1g-4 col-md-4 offset-md-5">
                    <h2 class="sub-heading-medium m-15px-b">{{ error }}</h2>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4 offset-md-4">
                    <div class="quote-form-wrapper">
                        <label class="form-label" for="id_username"></label>
                        <input type="text" class="form-input" placeholder="Логин"
                               id="id_username" name="username" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4 offset-md-4">
                    <div class="quote-form-wrapper">
                        <label class="form-label" for="id_password"></label>
                        <input type="password" class="form-input" placeholder="Пароль"
                               id="id_password" name="password" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4 offset-md-4">
                    <div class="quote-form-wrapper">
                            <button type="submit" class="btn btn-dark">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br><br>
{% endblock %}